@using Vidly.Models
@model List<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (Model.Any())
{
    <table class="table table-stipped">
        <thead>
            <tr>
                <th> Customer</th>
                <th> Discount Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Customer cust in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@cust.Name, "Detail", "Customer", new { id = @cust.Id }, null) </td>
                    <td>@cust.MembershipType.DiscountRate%</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Sorry, There are no customers</p>
}